{% extends 'components/main_page.html' %}
{% block content %}

<div class="blog-wrapper">
    <h2 class="h2-about">Про нас</h2>
    <hr class="in-blog">
    <ul class="site-info">

    <li>Пошук і фільтри:</li> <p>Потужний пошук за різними параметрами — ціна, розмір, кількість кімнат, розташування, тип будинку, наявність ділянки, стан будинку тощо.</p>

    <li>Детальні оголошення:</li> <p>Кожен будинок має окрему сторінку з детальним описом, фотографіями, плануванням, інформацією про сусідство і контактами продавця.</p>

    <li>Особистий кабінет:</li> <p>Користувачі можуть зберігати улюблені об'єкти, порівнювати їх та отримувати сповіщення про нові пропозиції.</p>

    <li>Консультації:</li> <p>Можливість отримати консультацію від фахівців з нерухомості або замовити оцінку будинку.</p>

    <li>Безпека:</li> <p>Всі оголошення проходять модерацію, щоб уникнути шахрайства та недостовірної інформації.</p>

    <li>Для кого цей сайт:</li>

    <p>Для покупців, які шукають будинок мрії швидко і без зайвих складнощів.</p>

    <p>Для продавців, які хочуть ефективно презентувати свою нерухомість широкій аудиторії.</p>

    <p>Для агентств нерухомості, які бажають автоматизувати процес продажу і комунікації з клієнтами.</p>
    </ul>
</div>
{% endblock %}