{% extends "components/main_page.html" %}

{% block content %}


  <div class="image-wrapper">
    <div class="overlay"></div>
    <div class="content">
      <h1>Знайди своє житло вже сьогодні</h1>
      <p>10 000+ квартир вже продаються на нашій платформі</p>
      <div class="button-wrapper">
        <a href="/catalog" class="btn-image">Купити у новобудові</a></button>
        <a href="/rent" class="btn-image">Орендувати (будь-де)</a></button>
        <a href="/second-owner" class="btn-image">Купити на вторинному ринку</a></button>
      </div>
    </div>
  </div>
{% endblock %}