{% extends "components/base.html" %}

{% block content %}


{% if errors %}
<div class="alert alert-danger" role="alert">
  {{ errors[0] }}
</div>
{% endif %}
  <style>
    .auth{
      border-radius: 0;
      border: 1px solid green;
      width: 500px;
      margin: 0 auto;

    }
    .mb-3{
      text-align: center;
    }
    .btn{
      margin-top: 10px;
    }
    .login-wrapper{
      margin: 12px auto;
      border: 1px solid #5c924e;
      border-radius: 12px;
      width: 700px;
      height: 350px;
      background-color: white;
    }
    img{
      width: 1100px;
    }
    .reg-link{
       margin-top: 15px;
    }
    .reg-link a{
      text-decoration: none;
      color: #5c924e;
    }
  </style>

<form  method="post" action="{{ url_for('login') }}">
  <div class="login-wrapper">
    <div class="mb-3">
      <h2>Увійти</h2>
      <label for="exampleInputEmail1" class="form-label"></label>
      <input value="{{ entered_email }}" name="user_email" required type="email" class="form-control auth" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Адреса електронної пошти">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"></label>
      <input value="" name="password" required minlength="8" type="password" class="form-control auth" id="exampleInputPassword1" placeholder="Пароль">
      <button type="submit" class="btn btn-primary">Увійти</button>
      <div class="reg-link"><span>Ще не </span><a href="{{ url_for('register') }}">зареєструвались?</a></div>
    </div>
  </div>
</form>

{% endblock %}