{% extends 'components/main_page.html' %}

{% block content %}
       {% for second_owner in second_owners %}


  <div class="card" style="width: 18rem;">
    <img src="{{ second_owner.main_image }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ second_owner.title }}</h5>
      <p class="card-text">{{ second_owner.description|truncate(53, False) }}</p>
      <p class="card-text">Price: {{ second_owner.price }} grn</p>
      <a href="" class="btn btn-primary">Details</a>
    </div>
  </div>

  {% endfor %}
{% endblock %}