

{% block content %}

<body>
    <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}">Головна</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/new_buildings">Каталог новобудов</a>
            <hr id="hr-new-buildings">
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/second_owner">Вторинний ринок</a>
            <hr id="hr-second_owner">
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rent">Оренда</a>
            <hr id="hr-rent">
          <li class="nav-item">
            <a class="nav-link" href="/sell_buildings">Продати</a>
            <hr id="hr-sell_buildings">
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('blog') }}">Блог</a>
            <hr id="hr-blog">
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Обране</a>
            <hr id="hr-favourites">
          </li>
          {% if user %}
          <li class="nav-item">
            <a class="nav-link" href="/profile">Особистий кабінет</a>
            <hr id="hr-profile">
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Вийти</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/login">Увійти</a>
            <hr id="hr-login">
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Зареєструватись</a>
            <hr id="hr-register">
          </li>
        {% endif %}
          <li class="nav-item dropdown">
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search" method="post" action="{{ url_for('index') }}">
          <input class="form-control me-2" type="search" placeholder="Я шукаю..." aria-label="Search"/>
          <button class="btn btn-outline-success" type="submit">Шукати</button>
        </form>
      </div>
    </div>
  </nav>
<script>
     const path = window.location.pathname;

    if (path === "/rent") {
    const hr = document.querySelector("#hr-rent");
    if (hr) hr.style.backgroundColor = "white";
  } else if (path === "/blog") {
    const hr = document.querySelector("#hr-blog");
    if (hr) hr.style.backgroundColor = "white";
  } else if (path === "/favourites") {
    const hr = document.querySelector("#hr-favourites");
    if (hr) hr.style.backgroundColor = "white";
  } else if (path === "/login") {
    const hrLogin = document.querySelector("#hr-login");
    if (hrLogin) hrLogin.style.backgroundColor = "white";
  const hrProfile = document.querySelector("#hr-profile");
    if (hrProfile) hrProfile.style.backgroundColor = "white";
  } else if (path === "/new_buildings") {
    const hr = document.querySelector("#hr-new-buildings");
    if (hr) hr.style.backgroundColor = "white";
    }
    else if (path === "/sell_buildings") {
    const hr = document.querySelector("#hr-sell_buildings");
    if (hr) hr.style.backgroundColor = "white";
  } else if (path === "/register") {
    const hr = document.querySelector("#hr-register");
    if (hr) hr.style.backgroundColor = "white";
  }else if (path === "/second_owner") {
    const hr = document.querySelector("#hr-second_owner");
    if (hr) hr.style.backgroundColor = "white";
  }
</script>
</body>
{% endblock %}